/*****************************************************************************
 .d8888b.                                             888
d88P  Y88b                                            888
888    888                                            888
888         .d88b.  88888b.   .d88b.  888d888 8888b.  888
888  88888 d8P  Y8b 888 "88b d8P  Y8b 888P"      "88b 888
888    888 88888888 888  888 88888888 888    .d888888 888
Y88b  d88P Y8b.     888  888 Y8b.     888    888  888 888
 "Y8888P88  "Y8888  888  888  "Y8888  888    "Y888888 888
 ****************************************************************************/
html {
  overflow-y: scroll;
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-family: Times, serif;
  font-size: 1.1rem;
  color: #FFF;

  background-image:url('../img/bg_large.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center center;
}
a {
  cursor: pointer;
}
a.active{
  background-color: #555;
  color: #FFF !important;
  font-weight: bold;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/*****************************************************************************
888888b.                 888
888  "88b                888
888  .88P                888
8888888K.   .d88b.   .d88888 888  888
888  "Y88b d88""88b d88" 888 888  888
888    888 888  888 888  888 888  888
888   d88P Y88..88P Y88b 888 Y88b 888
8888888P"   "Y88P"   "Y88888  "Y88888
                                  888
                             Y8b d88P
                              "Y88P"
 ****************************************************************************/

#wrap > .container {
  padding: 60px 0px;
}

.navbar {
  background: #000;  /* fallback for older browsers */
  background:rgba(0,0,0,0.75);   /* for latest browsers */
  color: #FFF;
}

.navbar-brand,.navbar-default,.navbar-header {
  color: #FFF !important;
}

.navbar-brand {
  font-size: 1.25em;
}


.bodyblock {
  background: #000;  /* fallback for older browsers */
  background:rgba(0,0,0,0.75);   /* for latest browsers */
  padding: 2em;
  margin-top: 2em;
}

.home-shadow {
  text-shadow: 4px 4px 4px #aaa;
}

.home-title {
  font-size: 5em;
}

.text-underline {
  text-decoration: underline;
  }

.padded-text {
  padding-left: 1em;
  padding-right: 1em;
}

img.headshot {
  width: 100px;
  float: left;
  margin-right: .75em;
  border: 2px solid #000;
}

img.inline-img {
  width: 100%;
}


/*****************************************************************************
8888888888                888
888                       888
888                       888
8888888  .d88b.  88888b.  888888 .d8888b
888     d88""88b 888 "88b 888    88K
888     888  888 888  888 888    "Y8888b.
888     Y88..88P 888  888 Y88b.       X88
888      "Y88P"  888  888  "Y888  88888P'

font-family: 'IM Fell Great Primer', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Petit Formal Script', cursive;
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Tangerine', cursive;
****************************************************************************/

.macfont {
  font-family: "Press Start 2P", Times;
  font-size: .75em;
}

.laceyfont {
  font-family: "Tangerine", Times;
  font-size: 1.2em;
}

.fancyfont {
  font-family: "IM Fell Great Primer", Times;
}
