
/**
 * @file
 * Main responsive stylesheet file.
 */


/*****************************************************************************
 * Extra small devices (phones, up to 767px)
 ****************************************************************************/
@media (max-width: 480px) {
  .text {
    margin-top: .5em;
  }
  .carousel-inner>.item>img {
    max-height: 300px;
  }
  section.hotel-deets {
    width: 100%;
    margin: 0 auto;
  }
}
/* Extra small devices (phones, up to 767px) end */


/*****************************************************************************
 * Small devices (tablets, up to 768px)
 ****************************************************************************/
@media (max-width: 768px) {
  .carousel-inner>.item>img {
    max-height: 450px;
  }
  section.hotel-deets {
    width: 90%;
    margin: 0 auto;
  }
}
/* Small devices (tablets, up to 768px) end */


/*****************************************************************************
 * Medium devices (Portrait tablet to landscape and desktop)
 ****************************************************************************/
@media (min-width: 768px) and (max-width: 979px) {
  .carousel-inner>.item>img {
    max-height: 650px;
  }
  section.hotel-deets {
    width: 75%;
    margin: 0 auto;
  }
}
/* Medium devices (Portrait tablet to landscape and desktop) */


/*****************************************************************************
 * Large devices (large desktops, 1200px and up)
 ****************************************************************************/
@media (min-width: 1200px) {
  .carousel-inner>.item>img {
    max-height: 650px;
  }
}
/* Large devices (large desktops, 1200px and up) end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */
