{% extends 'layouts/index.html' %}
{% set active_page = "baseapp.accommodations" %}

{% block pagecontent %}

<div class="row">
  <h1 class='text-center text-underline'>
    <span class='fancyfont'>Accommodations and Austin Info</span>
  </h1>
</div>

<div class="row">
  <!-- <div class="col-xs-12 col-md-10 col-md-offset-1"> -->
    <div class="hotel-deets-container">
      <section class='hotel-deets'>
        <h2>La Quinta Inns &amp; Suites</h2>
        <p>
          <b>Address</b>: <a href="//www.google.com/maps/place/La+Quinta+Inn+%26+Suites+Austin+Southwest+at+Mopac/@30.2367437,-97.8587839,13.3z/data=!4m8!1m2!2m1!1sLa+Quinta+Inns+%26+Suites!3m4!1s0x0:0x714f2f5997f32702!8m2!3d30.2409391!4d-97.817502">4424 S. Mopac Service Rd</a><br>
          <b>Phone</b>: <a href="tel:+1-512-899-3000">(512) 899-3000</a><br>
          <b>Distance:</b> <a href="//www.google.com/maps/dir/La+Quinta+Inn+%26+Suites+Austin+Southwest+at+Mopac,+4424+S+MoPac+Expy,+Austin,+TX+78735/8900+Crest+View+Road,+Austin,+TX+78737/@30.234696,-97.8978954,13.19z/am=t/data=!4m13!4m12!1m5!1m1!1s0x865b4b1b2c541f53:0x714f2f5997f32702!2m2!1d-97.8175091!2d30.2409368!1m5!1m1!1s0x865b491e83035d65:0xaf3103c57fab6e25!2m2!1d-97.9135236!2d30.2260708">7.0 miles</a> <br>
          <b>Note</b>: We have a block of rooms reserved at this hotel.
            We suggest you shop around before using it though.
            It is under the name "Lacey Pyle" wedding.
        </p>
      </section>

      <section class='hotel-deets'>
        <h2>Extended Stay America</h2>
        <p>
          <b>Address</b>: <a href="//www.google.com/maps/place/Extended+Stay+America/@30.2356586,-97.8564436,13.57z/data=!4m5!3m4!1s0x0:0x4b9d0bb691219e4b!8m2!3d30.237997!4d-97.825886">5100 US-290</a><br>
          <b>Phone</b>: <a href="tel:+1-512-892-4272">(512) 892-4272</a><br>
          <b>Distance:</b> <a href="//www.google.com/maps/dir/Extended+Stay+America,+5100+US-290,+Austin,+TX+78735/8900+Crest+View+Road,+Austin,+TX+78737/@30.2254646,-97.9039903,13z/am=t/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x865b4b064a9f7ba7:0x4b9d0bb691219e4b!2m2!1d-97.825886!2d30.237997!1m5!1m1!1s0x865b491e83035d65:0xaf3103c57fab6e25!2m2!1d-97.9135236!2d30.2260708">6.4 miles</a>
        </p>
      </section>

      <section class='hotel-deets'>
        <h2>Hampton Inn Austin/Oak Hill</h2>
        <p>
          <b>Address</b>: <a href="//www.google.com/maps/place/Hampton+Inn+Austin%2FOak+Hill/@30.2325911,-97.8830067,13.53z/data=!4m5!3m4!1s0x0:0x87f0d707520579f!8m2!3d30.233855!4d-97.860771">6401 US-290</a><br>
          <b>Phone</b>: <a href="tel:+1-512-891-7474">(512) 891-7474</a><br>
          <b>Distance:</b> <a href="//www.google.com/maps/dir/Hampton+Inn+Austin%2FOak+Hill,+6401+US-290,+Austin,+TX+78735/8900+Crest+View+Road,+Austin,+TX+78737/@30.2324148,-97.9004289,14z/am=t/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x865b4bd00369e401:0x87f0d707520579f!2m2!1d-97.860771!2d30.233855!1m5!1m1!1s0x865b491e83035d65:0xaf3103c57fab6e25!2m2!1d-97.9135236!2d30.2260708">3.8 miles</a>
        </p>
      </section>

      <section class='hotel-deets'>
        <h2>Sleep Inn & Suites</h2>
        <p>
          <b>Address</b>: <a href="//www.google.com/maps/place/Sleep+Inn+%26+Suites/@30.2097717,-98.0286155,12.82z/data=!4m5!3m4!1s0x0:0x2da21bc93457a539!8m2!3d30.1933754!4d-98.04399">2720 East US Hwy. 290</a><br>
          <b>Phone</b>: <a href="tel:+1-512-858-2400">(512) 858-2400</a> <br>
          <b>Distance:</b> <a href="//www.google.com/maps/dir/Sleep+Inn+%26+Suites,+2720+East+US+Hwy.+290,+Dripping+Springs,+TX+78620/8900+Crest+View+Road,+Austin,+TX+78737/@30.2140027,-98.0125439,13z/am=t/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x865b46ab68aa7829:0x2da21bc93457a539!2m2!1d-98.04399!2d30.1933754!1m5!1m1!1s0x865b491e83035d65:0xaf3103c57fab6e25!2m2!1d-97.9135236!2d30.2260708">9.3 miles</a>
        </p>
      </section>
    </div>
  <!-- </div> -->
</div>

<br>
{% include "snippets/hr.html" %}
<br>
<div class="row">
  <div class='text-center'>
  <iframe src="https://www.google.com/maps/d/embed?mid=1RPqyO_ZJq6KgqtScd8iBQLlRZ3o"
  width="100%" height="450" id='map'></iframe>
  </div>
</div>

{% endblock pagecontent %}
