{% extends 'layouts/index.html' %}
{% set active_page = "gifts" %}

{% block pagecontent %}

<div class="row center">
  <h1 class='text-center text-underline'><span class='fancyfont'>Gifts / Registry</span></h1>
</div>
<div class="row col-md-8 col-md-offset-2">
  <p>
    Due to our current status as soon-to-be-moving students and our limited
    apartment space, we request the only presents be your presence.
    However, if your prefer the traditional route, we would prefer gifts go
    towards our honeymoon registry.
    Details to follow.
  </p>
</div>

{% endblock pagecontent %}
