{% extends 'layouts/index.html' %}
{% set active_page = "baseapp.gifts" %}

{% block pagecontent %}

<div class="row center">
  <h1 class='text-center text-underline'><span class='fancyfont'>Gifts / Registry</span></h1>
</div>
<div class="row col-md-8 col-md-offset-2">
  <p>
    We request the only presents be your presence.
    Coming to a wedding can be a costly endeavour, both in time and money, and
    we don't want to compound that with gifts on top of all the rest.
  </p>
  <p>
    However, if you feel compelled to, we have a registry
    <a href="https://www.zola.com/registry/lacey-and-mac">here</a>.
  </p>
  <p>The registry is through Zola.
    We have registered for group gifts because we mostly added big ticket items like airplane tickets for the honeymoon.
    Also as a note, when you contribute to a group gift, we (Lacey and Mac) see it, but your personal information is hidden from the public.
    So don't worry, your gifts are being received and loved.
    </p>
</div>
<!-- br>
<div class="row col-md-8 col-md-offset-2">
<a class="zola-registry-embed" href="https://www.zola.com/registry/lacey-and-mac" data-registry-key="lacey-and-mac">Our Wedding Registry</a>
<script>
  !function(e,t,n){
    var s,a=e.getElementsByTagName(t)[0];
    e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))
  }(document,"script","zola-wjs");
</script>
</div-->

{% endblock pagecontent %}
