{% extends 'layouts/index.html' %}
{% set active_page = "baseapp.gifts" %}

{% block pagecontent %}

<div class="row center">
  <h1 class='text-center text-underline'><span class='fancyfont'>Gifts / Registry</span></h1>
</div>
<div class="row col-md-8 col-md-offset-2">
  <p>
    Due to our current status as soon-to-be-moving students and our limited
    apartment space, we request the only presents be your presence.
    However, if your prefer the traditional route, we have provided the
    registry below (and <a href="https://www.zola.com/registry/lacey-and-mac">link here</a>).
  </p>
</div>
<br>
<div class="row col-md-8 col-md-offset-2">
<a class="zola-registry-embed" href="https://www.zola.com/registry/lacey-and-mac" data-registry-key="lacey-and-mac">Our Wedding Registry</a>
<script>
  !function(e,t,n){
    var s,a=e.getElementsByTagName(t)[0];
    e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))
  }(document,"script","zola-wjs");
</script>
</div>

{% endblock pagecontent %}
